<div class="userCard" *ngFor = "let user of users">
    <div class = "cardHighlight">
        <!-- user avatar -->
        <img class = "userAvatar" [src]="user.avatar" [alt]="user.first_name + 'Avatar profile'">
        <span class = "spanStyle"><span class="cardTemplate">User ID:</span> {{user.id}}</span>
    </div>
    <div class="userDetails">
        <!-- user information -->
        <span class = "spanStyle"><span class="cardTemplate">First Name:</span> {{user.first_name}}</span>
        <span class = "spanStyle"><span class="cardTemplate">Last Name:</span> {{user.last_name}}</span>
        <span class = "spanStyle"><span class="cardTemplate">Email:</span> {{user.email}}</span>
    </div>
</div>