.header{
    background-color: #f0f0f0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-bottom: 20px;
    gap: 3rem;
}

.newHeader{
    gap: 0;
}

.logo{
    width: 100px;
    height: 100px;
}

.navbar{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}
#pageTitle{
    margin: 0;
    align-self: center;
}

.backButton {
    width: 70px;
    height: 40px;
    position: relative;
    top: 4.5rem;
    left: 7rem;
    background-color: #406ab3;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    /* transition: box-shadow 0.3s ease; */
}

.btnClicked{
    box-shadow: none;
    background-color: #1e3150;
}

.backButton:hover{
    background-color: #2e4c7e;
}

@media screen and (max-width: 1100px){
    
    .logo{
        height: 50px;
        width: 50px;
    }

    #pageTitle{
        font-size: 1.2rem;
    }

    .backButton{
        width: 50px;
        height: 30px;
        top: 3.5rem;
        left: 4rem;
    }

    .mat-icon{
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 600px){

    .logo{
        height: 35px;
        width: 35px;
    }
    
    #pageTitle{
        font-size: 0.9rem;
    }

    .mat-icon{
        font-size: 12px;
    }

    .backButton{
        width: 40px;
        height: 27px;
        top: 3rem;
        left: 1.5rem;
    }
}
