.inputField{
    width: 100%;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
}


.searchArea{
    display: flex;
    justify-content: center;
    width: 100%;
}

.searchBar:hover{
    background-color: #d8e4ff;
    transition: background-color 0.2s ease;
}

.searchBar{
    width:50%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 0.5rem;
    padding: 5px;
}

.searchInput {
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    padding: 5px 15px;
}

input:focus {
    outline: none;
  }

.searchIcon{
    border: 0;
    background-color: rgba(86, 86, 86, 0);
}

.searchIcon:focus{
    outline: none;
}

@media screen and (max-width: 1100px){
    .searchInput{
        font-size: 0.7rem;
    }
    
    .searchIcon{
        padding: 0;
    }

    .mat-icon{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        font-size: 15px;
        color: #44474e
    }
}

@media screen and (max-width: 600px){
    .searchBar{
        width: 70%;
    }

    .searchInput{
        font-size: 0.5rem;
        padding: 5px 4px;
    }
}
